<section id="registration">


  <%= form_for(Pupil.new, remote: true) do |f| %>

    <div class="form-group">
      <%= f.select :id, options_for_select(@pupils.map{ |c| ["#{c.last_name} #{c.first_name}, ו-#{c.class_name}", c.id] }),{:include_blank => '-- בחר/י בבקשה --'}, class: 'form-control input-lg', dir: 'rtl', required: true %>


    </div>

    <div class="form-group">
      <%= f.text_field :email , class: 'form-control input-lg reset-on-press', placeholder: 'כתובת מייל', required: true%>
    </div>

    <div class="form-group">
      <%= f.text_field :phone , class: 'form-control input-lg reset-on-press', placeholder: 'טלפון נייד', required: true%>
    </div>

    <div class="checkbox">
      <%= f.check_box :is_coming %>
      <%= f.label :is_coming ,'סמן הגעתך כאן' %>

    </div>

    <div class="modal-message"></div>


    <div class="actions center">
      <%= f.submit 'רשום אותי!', class: 'btn btn-primary btn-lg', data: { disable_with: 'רושם..'} %>
    </div>
  <% end %>


</section>


<script type="text/javascript">
  $(document).ready(function(){
    $('select').select2({
      theme: "bootstrap",
      // dropdownParent: $('#modalRegistration')
    });

  //   $(document).on('click' , '.modal-popup', function(e) {
  //  e.preventDefault();
  //  takeandmake.actions.modalPopUp(this);

});

</script>
