<h1>New register</h1>

<ul>
  <li>
    <strong>First name:</strong>
    <%= @pupil.first_name %>
  </li>

  <li>
    <strong>Last name:</strong>
    <%= @pupil.last_name %>
  </li>

  <li>
    <strong>Madien name:</strong>
    <%= @pupil.madien_name %>
  </li>

  <li>
    <strong>Class name:</strong>
    <%= @pupil.class_name %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @pupil.email %>
  </li>

  <li>
    <strong>Phone:</strong>
    <%= @pupil.phone %>
  </li>

  <li>
    <strong>Is coming:</strong>
    <%= @pupil.is_coming %>
  </li>

  <li>
    <strong>Is registered:</strong>
    <%= @pupil.is_registered %>
  </li>

</ul>
