<p id="notice"><%= notice %></p>

<h1>Book Comunities</h1>

<table>
  <thead>
    <tr>
      <th>Pupil</th>
      <th>About me</th>
      <th>Photo from last</th>
      <th>Photo form today</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_comunities.each do |book_comunity| %>
      <tr>
        <td><%= book_comunity.pupil_id %></td>
        <td><%= book_comunity.about_me %></td>
        <td><%= book_comunity.photo_from_last %></td>
        <td><%= book_comunity.photo_form_today %></td>
        <td><%= link_to 'Show', book_comunity %></td>
        <td><%= link_to 'Edit', edit_book_comunity_path(book_comunity) %></td>
        <td><%= link_to 'Destroy', book_comunity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Comunity', new_book_comunity_path %>
