<p id="notice"><%= notice %></p>

<h1>Memorials</h1>

<table>
  <thead>
    <tr>
      <th>Book</th>
      <th>Pupil id sender</th>
      <th>Pupil id reciver</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @memorials.each do |memorial| %>
      <tr>
        <td><%= memorial.book %></td>
        <td><%= memorial.pupil_id_sender %></td>
        <td><%= memorial.pupil_id_reciver %></td>
        <td><%= memorial.content %></td>
        <td><%= link_to 'Show', memorial %></td>
        <td><%= link_to 'Edit', edit_memorial_path(memorial) %></td>
        <td><%= link_to 'Destroy', memorial, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Memorial', new_memorial_path %>
