<nav id="siteHeaderNavbar" class="navbar navbar-default <%= @transparent %> <%= @mb0 %>">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li <%= @contact_bold %>><%= link_to 'צור קשר' , new_contact_url %></li>
        <li <%= @book_bold %>><%= link_to 'ספר מחזור' , book_memorials_url %></li>
        <li <%= @who_comes_bold %>><%= link_to 'מי מגיע?' , whos_in_url %></li>
        <li><a data-toggle="modal" data-target="#modalRegistration">להרשמה</a></li>
        <!-- <li <%= @registration_bold %>><%= link_to 'להרשמה' , registration_url %></li> -->
        <li <%= @home_bold %>><%= link_to 'ראשי' , root_url %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
